{% extends 'base.html.twig' %}

{% block navbar %}
    <nav class="navbarCustom navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage') }}">Logo</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    {% if app.user.roles.0 is defined %}
                        {% if app.user.roles.0=="ROLE_USER" %}
                        <li><a href="{{ path('user_logout')}}" class="logBtn">Logout</a></li>
                        {% endif %}
                        {% else %}
                        <li><a class="logBtn" href="{{ path('commerce_index') }}">Commercant</a></li>
                        <li><a class="logBtn" href="{{ path('login') }}">Connexion</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}